<div class="container header-2-home">
  <div class="left-home1">
    <section class="left-1-home">
      <h2>What do I do?</h2>
      <div class="left-info1">
        <div>
          <h4>Programmer</h4>
          <p>I am a software engineer and I build good shit</p>
        </div>
        <div>
          <h4>Drummer</h4>
          <p>I play drums sometimes, but I'm no Daniel Vergas</p>
        </div>
      </div>
      <div class="left-info2">
        <h2>I keep it 99</h2>
        <h5>Because I be lying sometimes</h5>
        <p>
          One time I told this girl that I could make really good tacos because
          I liked her friend and wanted to impress her. My lying ass makes
          shitty tacos.
        </p>
      </div>
    </section>
  </div>
  <div class="left-home2">
    <section class="right-2-top">
      <div>
          <p>
              Here is a picture of me playing these drums
          </p>
        <img src="../../../assets/Images/Me-Drumming.jpg" alt="Drummer" />
      </div>
      <div>
        <p>
          This isn't actually me coding, but just use your imagination and imagine this being
        </p>
        <img src="../../../assets/Images/programming-me.jpg" alt="Programmer" />
      </div>
    </section>
  </div>
</div>
