<div class="header-wrapper">
    <div class="container header-container">
       <div class="left-header">
           <!-- <h2>Software Engineer</h2> -->
           <div class="typing-demo">
           Software Engineer
          </div>
           <p>hello This is not my portfolio, more so somewhere to post my stuff. Okay so maybe it's a blog but here I will post some of my thoughts weather it's code stuff or life stuff. Trust me it won't suck.</p>
           <div class="social-media-header">
                <h3>My Social Media (this shit smacks follow it)</h3>
                <div class="social-cards-section">
                    <div class="social-card">
                        <a href="https://www.instagram.com/torres.ar.ivan/" target="_blank">
                        <img src="../../../assets/social-img/insta2.png" alt="instagram">
                         </a>
                        <div class="social-info">
                            <p>Tag:<br /> <span>@ivan.ar.torres</span></p>
                        
                        </div>
                    </div>
                  
                 <div class="social-card">
                    <a href="https://www.linkedin.com/in/ivantorresmia/" target="_blank">
                    <img src="../../../assets/social-img/linked.png" alt="linkedIn">
                    </a>
                    <div class="social-info">
                        <p>Connect: <span>www.linkedin.com/in/ivantorresmia</span></p>
                    </div>
                </div>
                
                </div>
           </div>
       </div>
       <div class="img-header">
           <img src="../../../assets/Images/IMG_1997.JPG" alt="ivan's header">
           <p>Picture of me loving pizza</p>
       </div>
    </div>
</div>
